/* ==============================
1-  OPIONS (filtered data)
=================================*/

.home .parent-of-btns button {
  background-color: #3467c2;
  font-size: 16px;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  margin-right: 15px;
}

.home select {
  background-color: #666;
  padding: 7px 14px;
  border-radius: 4px;
}

/* ==============================
2- SHOW all tasks
=================================*/
.home .all-tasks {
  justify-content: center;
  flex-wrap: wrap;
}

.home .all-tasks .one-task {
  border: 2px solid antiquewhite;
  margin: 40px 20px;
  width: 300px;
  height: 141px;
  border-radius: 5px;
  transition: 0.2s;
  position: relative;
}

.home .all-tasks .one-task:hover {
  border-left: 8px solid antiquewhite;
}

.home .all-tasks .one-task h2 {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.home .all-tasks .one-task li {
  list-style-position: inside;
  list-style-type: circle;
  line-height: 29px;
  font-size: 13px;

  text-align: start;
  margin: 0 11px;
}
.home .all-tasks .one-task .time {
  font-size: 12px;
  font-weight: normal;
  color: rgb(164, 213, 255);
  position: absolute;
  right: 9px;
  bottom: 7px;
}
.task-link {
  display: block;
  width: 100%;
  height: 100%;
}
/* ==============================
3- Add new task BTN
=================================*/

.home .add-task-btn {
  background-color: teal;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  margin-bottom: 44px;
}

.home .add-task-btn .fa-plus {
  font-size: 14px;
}
/*Theme Mode*/
.Light .all-tasks article {
  border: 2px solid #555 !important;
}
.Light .all-tasks h2,
.Light .all-tasks ul li {
  color: #555;
}
.Light .all-tasks article .time {
  color: rgb(2 138 255) !important;
}
/*modal*/
.modal-cotent {
  text-align: left;
  height: 100%;
  margin-top: 100px;
}
.modal-cotent .submit {
  margin: 15px 0 30px;
}
.modal li {
  font-size: 16px;
  color: #333;
  list-style-type: circle;
  list-style-position: inside;
  margin-bottom: 2px;
}
/*success-message*/
.success-message {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  padding: 12px;
  border-radius: 5px;
  font-size: 17px;
  margin: 10px 0;
  position: fixed;
  top: 120px;
  right: -155px;
}
.success-message .fa-clipboard-check {
  color: #3c763d;
  font-size: 18px;
  margin-left: 5px;
}
.success-message.show {
  animation: message-show forwards 4s linear;
}
@keyframes message-show {
  0% {
    top: 120px;
    right: -155px;
  }
  10% {
    top: 120px;
    right: 55px;
  }

  80% {
    top: 120px;
    right: 55px;
    display: none;
  }
  100% {
    display: none;
    top: 120px;
    right: -155px;
  }
}
/*AllTaskesLodaing*/
